* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Weather-bg {
    width: 367px;
    height: 415px;
    border-radius: 9px;
    box-shadow: -1px -1px 8px 0px rgba(0, 0, 0, 0.08), 2px 2px 8px 0px rgba(0, 0, 0, 0.10);
    background: url("../Images/weather.gif") no-repeat 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    >.Weather-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >.Weather-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 15px;

            >.city-name {
                color: #F5F5F5;
                font-size: 28px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                line-height: normal
            }

            >.city-temperature {
                color: #F5F5F5;
                font-size: 38px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

        }

        >.Weather-part1 {
            border-radius: 7px;
            background: rgba(159, 160, 162, 0.30);
            box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25), -3px -3px 10px 0px rgba(0, 0, 0, 0.15);
            backdrop-filter: blur(1.5px);
            display: flex;
            flex-direction: row;
            padding: 10px;
            margin-top: 10px;

            >.Weather-now {
                display: flex;
                flex-direction: column;
                margin: 13px;

                >.head-h3 {
                    color: #F5F5F5;
                    font-size: 12px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 4px;


                }

                >.img {
                    width: 25px;
                    height: 17px;
                    background: url("../Images/Vector.png") no-repeat 0 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                >.temp-h3 {

                    color: #F5F5F5;
                    font-size: 14px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-top: 4px;
                    text-align: center;
                }


            }

        }

        >.Weather-part2 {
            padding: 10px;
            margin-top: 10px;
            width: 328px;
            height: 178px;
            border-radius: 7px;
            background: rgba(159, 160, 162, 0.30);
            box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25), -3px -3px 10px 0px rgba(0, 0, 0, 0.15);
            backdrop-filter: blur(1.5px);
            overflow: scroll;
            overflow-wrap: anywhere;
            scroll-behavior: smooth;
            overflow-x: hidden;

            >.Weather-part2-1 {
                display: flex;
                flex-direction: row; 
                // position: sticky;
                // top: 0;

                >.Weather-part2-1-img {
                    width: 25px;
                    height: 17px;
                    background: url("../Images/Frame1.png") no-repeat 0 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                  
                }

                >.Weather-part2-1-head {
                    margin-left: 10px;
                    color: rgba(255, 255, 255, 0.90);
                    font-size: 12px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                }
            }

            >.bordered {
                // border-bottom: 1px solid rgba(255, 255, 255, 0.53);
                margin: 5px;
                width: 270px;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.53);
                ;
            }

            >.Weather-part2-2 {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                >.day {
                    color: #F5F5F5;
                    font-size: 10px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }


                >.photo-per{
                    display: flex;
                    flex-direction: row;
                    >.photo {
                        width: 12px;
                        height: 14px;
                        background: url("../Images/Frame1.png") no-repeat 0 0;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    >.percent {
                        color: #F5F5F5;
                        font-size: 14px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin-left: 5px;
                    }
                }
                >.photo2 {
                    width: 20px;
                    height: 13px;
                    background: url("../Images/Vector.png") no-repeat 0 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                >.min-max{
                    display: flex;
                    flex-direction: row;

                    >.temp-min {
                        color: #F5F5F5;
                        font-size: 14px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
    
                    >.temp-max {
                        color: #F5F5F5;
                        font-size: 14px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin-left: 5px;
                    }
                }


            }
        }
    }



}